<!-- Main Footer -->
<footer class="main-footer">
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">
                <!-- Column: Logo & Description -->
                <div class="column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="widget-content">
                            <div class="logo">
                                <a href="{{ url_for('home') }}">
                                    <img id="fLogo" src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Sarvanga Ayurveda">
                                </a>
                            </div>
                            <div class="text">
                                Sarvanga is one of Kerala’s leading Ayurveda treatment centers, with fully functional clinics in Trivandrum. We are a tranquil sanctuary for holistic healing, offering customized therapies including Rejuvenation, Detoxification, Stress Relief, and more.
                            </div>
                            <ul class="social-links clearfix">
                                <li><a href="https://www.facebook.com/Sarvangaayurvedahospital" target="_blank"><span class="fab fa-facebook-square"></span></a></li>
                                <li><a href="https://www.instagram.com/sarvanga_ayurveda/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Column: Navigation Links -->
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <h6>Explore</h6>
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="{{ url_for('home') }}">Home</a></li>
                                        <li><a href="{{ url_for('about') }}">About</a></li>
                                        <li><a href="{{ url_for('treatments') }}">Treatments</a></li>
                                        <li><a href="{{ url_for('services') }}">Services</a></li>
                                        <li><a href="{{ url_for('packages') }}">Packages</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <!-- <li><a href="{{ url_for('courses') }}">Courses</a></li>
                                        <li><a href="{{ url_for('blogs') }}">Blogs</a></li>
                                        <li><a href="{{ url_for('review') }}">Review</a></li>
                                        <li><a href="{{ url_for('gallery') }}">Gallery</a></li> -->
                                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Column: Contact Info -->
                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget info-widget">
                        <div class="widget-content">
                            <h6>Contact</h6>
                            <ul class="contact-info">
                                <li><span class="icon flaticon-call"></span><a href="tel:+919633767569">+91 9633 76 75 69</a></li>
                                <li><span class="icon flaticon-call"></span><a href="tel:+918943438494">+91 89 43 43 84 94</a></li>
                                <li><span class="icon flaticon-email-2"></span><a href="mailto:ayurveda.sarvanga@gmail.com">ayurveda.sarvanga@gmail.com</a></li>
                                <li><span class="icon flaticon-email-2"></span><a href="mailto:dr.padmasreearun1@gmail.com">dr.padmasreearun1@gmail.com</a></li>
                                <li class="address"><span class="icon flaticon-pin-1"></span> Sarvanga,(GK Ayurveda Health Care), GK Junction, NH Bypass, Kallumoodu, Thiruvananthapuram, Kerala 695008</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.widgets-section -->
    </div> <!-- /.auto-container -->
</footer>
