{% extends "base.html" %}
{% block title %}Best Panchakarma Treatment Center in Trivandrum | Sarvanga{% endblock %}

{% block content %}
<section class="news-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>MAJOR PANCHAKARMA TREATMENTS<br> IN AYURVEDA<span class="dot">.</span></h2>
        </div>

        <div class="row">
            {% for treatment in treatments %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-nine__card h-100">
                    <div class="service-nine__card__inner">
                        <div class="service-nine__image">
                            <img src="{{ url_for('static', filename=treatment.img_src) }}" alt="{{ treatment.title }}" class="img-fluid">
                        </div>
                        <div class="service-nine__content p-3">
                            <h3 class="service-nine__title">
                                <a href="{{ url_for('treatments_details', name=treatment.url) }}">{{ treatment.title }}</a>
                            </h3>
                            <p class="service-nine__text">{{ treatment.short_description}}</p>
                            <a href="{{ url_for('treatments_details', name=treatment.url) }}" class="service-nine__link">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
